.propic{
  height: 800px;
}
.bg-light{
  background-color: #24272B !important;
}
.topBuffer{
  margin-top: 25px;
}
.logo-nav{
  height: 50px;
  width: 50px;
}
h4{
  font-family: 'Roboto', sans-serif;

}
p{
  font-family: 'Roboto', sans-serif;

}
