/* navbar */
.bg-light{
  background-color: #24272B !important;
}
.topBuffer{
  margin-top: 25px;
}
.logo-nav{
  height: 50px;
  width: 50px;
}
/* navbar end */
/* footer */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #24272B;
   color: white;
   text-align: center;
}
.p1{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
a{
  color: white;
}
a:hover{
  color: #4c81b1;
}
/* footer end */
.bg-light{
  border-color: transparent !important;
}
